.App {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.book {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-image: url("https://st4.depositphotos.com/1484771/37819/i/600/depositphotos_378193086-stock-photo-literature-reading-concept-banner-header.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  height: 200px;
}

h1 {
  font-size: 60px;
  color: white;
  font-weight: bold;
  padding: 50px;
}

section {
  display: block;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5;
  width: 500px;
  margin-bottom: 50px;
}

h2 {
  font-size: 40px;
}

section form {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

section input {
  width: 400px;
  border: 2px solid rgb(58, 44, 27);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #e0dcdc;
}

section a {
  text-decoration: none;
  font-size: 30px;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.pixabay.com/photo/2014/09/05/18/32/old-books-436498_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  height: 200px;
  color: white;
}

footer p {
  padding: 100px;
}

footer a {
  text-decoration: none;
  color: aliceblue;
}

footer a:hover {
  text-decoration: none;
  color: rgb(174, 166, 153);
}

@media (max-width: 860px) {
  .book {
    background-size: 100%;
  }

  h1 {
    font-size: 25px;
    line-height: 1.5;
    padding: 30px;
  }

  section {
    width: 270px;
  }

  h2 {
    font-size: 20px;
  }

  section input {
    width: 200px;
  }

  section a {
    font-size: 10px;
  }

  footer {
    background-size: 100%;
    height: 100px;
  }

  footer p {
    padding: 50px;
    font-size: 10px;
  }
}
