.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.book {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-image: url("https://st4.depositphotos.com/1484771/37819/i/600/depositphotos_378193086-stock-photo-literature-reading-concept-banner-header.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
}

h1 {
  font-size: 60px;
  color: white;
  padding: 50px;
}

section {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

section form {
  display: block;
  margin: 0 auto;
  size: 400px;
  border-radius: 10px;
  margin-bottom: 50px;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2014/09/05/18/32/old-books-436498_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  color: white;
}

footer a {
  text-decoration: none;
  color: aliceblue;
  padding: 50px;
}
