.speech {
  font-size: 20px;
  margin-top: 50px;
}

.definition {
  font-size: 15px;
}

.example {
  font-size: 15px;
  font-style: italic;
}

@media (max-width: 860px) {
  .speech {
    font-size: 15px;
  }

  .definition {
    font-size: 12px;
  }

  .example {
    font-size: 12px;
  }
}
